:root {
    --primaryColor: #2A3647;
    --secondaryColor: #29ABE2;
    --primary-darkblue: #091931;
    --activeColor: #091931;
    --hoverColor: #2A3D59;

    --background: #F6F7F8;

    --black: #000000;
    --black-transparent: rgba(0, 0, 0, 0.12);
    --white: #FFFFFF;

    --light-gray-1: #F4F4F4;
    --light-gray-2: #CDCDCD;
    --light-gray-3: #D1D1D1;
    --light-gray-4: #A8A8A8;

    --priority-urgent: #FF3D00;
    --medium-priority: #FFA800;
    --low-priority: #7AE229;

    --category-orange: #FF7A00;
    --category-green: #7AE229;
    --category-blue: #0190E0;

    --shadow-1: rgba(0, 0, 0, 0.10);
    --shadow-2: rgba(0, 0, 0, 0.08);
    --shadow-3: rgba(0, 0, 0, 0.04);

    --yellow: #FFC701;
    --red: #ff0000;
    --dark-green: #02CF2F;
    --light-blue: #32DAFF;
    --purple: #9327FF;
}
